

      // rocks
      // main-menu-dropdown -> molmenu-dropdown
      // dropdown-toggle -> molmenu-dropdown-toggle
      // main-menu-dropdown-button -> molmenu-dropdown-button
      // dropdown-menu -> molmenu-dropdown-menu

.molmenu {
 position: relative;
 z-index: 3000;
}
.molmenu:after {
  content: '.';
  clear: both;
  display: block;
  width: 100%;
  text-indent: -9999px;
}

li.molmenu-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.molmenu-dropdown-toggle a {
  text-align: left;
  background-color: #FFF;
  color: #333;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.molmenu-dropdown-toggle > a {
  position: relative;
  padding-right: 0;
  box-sizing: border-box;
}

.molmenu-dropdown-toggle > a:hover {
  background-color: #e6e6e6;
  color: #333;
  border-radius: 4px;
}

.molmenu-dropdown-toggle > a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #333;
  margin-left: 9px;
  position: relative;
  display: inline-block;
  top: 50%;
  -moz-transform: translateY(-50%);
  -web-kit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.molmenu-dropdown-button {
  padding-right: 10px;
}

.molmenu-dropdown-button {
  color: #333;
}

.molmenu-dropdown-menu {
  display: none;
  background-color: #FFF;
  border: 1px solid #AAA;
  clear: both;
  top: 150%;
  z-index: 1000;
  min-width: 180px;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0 0 0 .2em;
}

.molmenu-dropdown:hover .molmenu-dropdown-menu {
  display: block;
}

ul.molmenu-dropdown-menu li {
  padding: 0;
  margin: 0;
}